.form-container{
    background: var(--orange);
    width: 100%;
    min-height: 100vh;
    padding: 4rem 0;
    position: relative;
    
}
.form-container::before,
.show-products::before,
.message-container::before,
.order-container::before{
    content: '';
    position: absolute;
    /*background: url(image/6.png);*/
    background: rgb(207, 183, 183);
    top: -5%;
    left: -10px;
    width: 2px;
    height: 2px;
    background-size: 255px;
    background-repeat: no-repeat;
    z-index: 100;
}
.form-container::after{
    content: '';
    position: absolute;
    /*background: url(image/banner.png);*/
    background: rgb(103, 57, 57);
    bottom: 0;
    right: 0;
    width: 2px;
    height:2px;
    background-size: 255px;
    background-repeat: no-repeat;
    z-index: 1;
}
.form-container h1{
    text-transform: uppercase;
    margin: 2rem 0;
    font-size: 2.3rem;
    text-align: center;
}
.form-container form {
    
    width: 60%;
    margin: 1rem auto;
    background: rgb(255 255 255/80%);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    position: relative;
    border-radius: 5px;
}
.form-container form label{
    text-transform: uppercase;
    width: 100%;
}
.form-container form input{
    width: 85%;
}
.form-container form textarea{
    width: 85%;
    height: 200%;
}
.form-container form button{
    width: 85%;
    background-color: var(--orange);
    border: none;
}