*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --box-shadow:0px 0px 0px 6px rgb(255 255 255/40%);
    --orange:#57a2cd;
    --orange1:#fcc927;

}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
hr{
    border: 2px;
}
sup{
    position: absolute;
    top: 11%;
    background: #000;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 15px;
    text-align: center;
    padding: .1rem;
}
.btn{
    padding: .8rem 2.5em;
    text-transform: uppercase;
    background: #fff;
    color: var(--orange);
    cursor: pointer;
}
.btn:hover{
    background: #000;
}
.title{
    text-align: center;
    margin-bottom: 1em;
}
.title h1{
    font-size: 3rem;
    text-transform: uppercase;
}
.title span{
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 2;
    color: var(--orange);

}
.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }
/*.line,
.line4{
    background-image: url('image/ligne.png');
   /*background: gray;
    width: 100%;
    height: 100px;
    margin-top: -3.6rem;
    display: none;

}
.line{
    margin-bottom: 10rem;
    display: none;
}
.line2,
.line3{
    /*background-image: url('image/3.png');
    background: rgb(104, 102, 102);
    width: 100%;
    height: 100px;
    margin-top: -3.5rem;
    display: none;
}
.line3{
    margin-top: -3.5rem;
    margin-bottom: 7rem;
    display: none;
}*/
/* Style pour la séparation horizontale avec une ombre en bas */
.horizontal-separator {
    width: 100%; /* Largeur de la séparation horizontale */
    height: 2px; /* Épaisseur de la ligne */
    background-color: #333; /* Couleur de la ligne */
    margin: 20px 0; /* Marge supérieure et inférieure pour espacer la ligne */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre en bas */
}

.message, .empty{
  text-align: center;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 59%;
  padding: .5rem 1.5rem;  
  border-radius:  5px;
  display: flex;
  justify-content: space-between;
  background: #000;
  color: #fff;
}

.message i{
    cursor: pointer;
}
.empty{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
input,

textarea,
select{
    outline: none;
    border: 1px solid #55555544;
    background: transparent;
    width: 100%;
    min-width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    margin: 1rem 0;
}
.user-box button{
    outline: none;
    border: 1px solid #55555544;
    background: black;
    width: 100%;
    min-width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    margin: 1rem 0;
}
button{
    cursor: pointer;
}
input[type=submit]{
    cursor: pointer;
}
/*--------------------banner--------------*/
.banner{
    background: var(--orange);
    width: 100%;
    height: 50vh;
    position: relative;
    z-index: 1;
}
.banner::before{
    position: absolute;
    content: '';
    bottom: -18%;
    right: 0;
    background-color: aqua;
    width: 316px;
    height: 245px;
    background-size: 314px;
    background-repeat: no-repeat;
}
.banner .detail{
    position: absolute;
    padding: 7rem 0;
    left: 35%;
    text-align:center;
    z-index: 200;
}
.banner .detail h1{
    font-size: 4rem;
    color: #fff;
    text-transform: capitalize;
}
.banner .detail p{
    font-size: 18px;
    line-height: 2;
}
.banner .detail a{
    text-transform: uppercase;
    color: #000;
}
.banner .detail span{
    color: #fff;
}
/*--------------------header--------------*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    transition: .3s;
}
header.scrolled{
    background:#fff;
    box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1) ;
    backdrop-filter: blur(20px);
}
header.scrolled{
    color: var(--orange);
}
.flex{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
}
.navbar a{
    margin: 0 1rem;
    font-size: 1rem;
    color: #000;
    text-transform: uppercase;
}
.navbar a:hover, header .icons i:hover{
    
    text-decoration: none;
    background-color: rgba(228, 213, 213, 0.5);
    border-radius: 50%;
}
.header .icons{
    display: flex;
}
.header .icons i{
    margin-left: 1.2rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #000;
}
#menu-btn{
    display: none;
}
.header .user-box{
    position: absolute;
    top: 120%;
    right: 0rem;
    background: rgb(255 255 255 / 80%);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
    width: 20rem;
    transform: scale(1.0);
    transform-origin: top right;
    line-height: 2;
}

.logo {

    width: 50px; /* Définissez la largeur maximale souhaitée pour votre logo en pixels */
    height: auto; /* Assurez-vous que la hauteur est automatiquement ajustée pour conserver les proportions */
    display: block; /* Cette règle est facultative, elle assure que le logo est affiché en tant que bloc */
}


/* Ajoutez un style au survol du logo (facultatif) */
.logo:hover {
    color: #FFA500; /* Couleur différente au survol */
    /* Vous pouvez également ajouter des animations ou d'autres styles de votre choix ici */
}
.logout-btn{
    background: #000;
    color: #fff;
    text-transform: uppercase;
    width: 10rem;
    border-radius: 4px;
}
.header .user-box.active{
    transform: scale(1.0);
    transition: .2s linear;
}
/*--------------------Shop--------------*/
table {
    width: 100%;
    border-collapse: collapse;
}
.ico {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    border-radius: 3px;
}
img.card-img-top {
    max-width: 75%;
    height: auto;
    border-radius: 5px;
    margin: 2% 2% 2% 2%;
}

/* Ajoutez ces styles pour définir la taille des boutons et des icônes */
.ico button,
.ico a {
    width: 40px;
    height: 30px; /* Réduisez la hauteur ici */
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background: #fff;
    margin: .5rem;
    box-shadow: var(--box-shadow);
    border: 0;
}
.icoview button,
.ico a {
    width: 20%;
    height: 30px; /* Réduisez la hauteur ici */
    border-radius:10px;
 
}

.ico button:hover,
.ico a:hover{
    background: #f8f5f5;

}

.card{
    width: 100%;
    margin: 1rem;
}
.cardcart{
    width: 70%;
    margin: 1rem;
}
img{
    width: 100%;
    height: 550px;
    transition: 2s;
}

.box-container{
    padding: 2% 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    column-gap: 1rem;
}
.test{
    background: var(--orange);
}
.box-container .box, .card{
    background: #fff;
    box-shadow:0px 0px 0px 6px rgb(255 255 255/40%);
    padding: 2rem;
    margin: 1rem;
    text-align: center;
    border-radius: 10px;
    line-height: 2;
    text-transform: uppercase;
    position: relative;
}
.box-container .box img{
    width: 100%;
    height: 250px;
}
.card .card-body .row img{
    width: 100%;
    height: 50%;
}
.card .card-body img{
    width: 70px;
    height: 50%;
}
.card .card-body .btnvalid{
   background-color: #e4c8c8;
   border-radius: 10px;
   width: 100%;
   box-shadow: 0px 0px 0px 6px #ebdddd;
}
.box-container .box .icon, .card .icon{
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    background: var(--orange);
    margin: 1rem;
}
.box-container .box button,.card button{
    border:none;
    cursor: pointer;
    margin-right: 1em;
    margin-left: 1em;

}
.first{
    margin-top: 10%;
}
.vide{
    padding-top: 3rem;
    background: var(--orange);
}
.box-container .box .icon button, .box-container .box .icon a,
.card button,
.card a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background: #fff;
    margin: .5rem;
    box-shadow: var(--box-shadow);
}
.price{
    position: absolute;
    text-align: 5%;
    left: 5%;
    font-weight: bold;
    font-size: 1.5rem;
}
/*----------------wishlist-------------------*/
.wishlist-container {
    max-width: 800px;
    margin: 20px auto;
}

.wishlist-products {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.wishlist-product {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow:var(--box-shadow);
    width: calc(33.33% - 20px); /* Pour avoir 3 produits par ligne avec une marge de 20px */
    box-sizing: border-box;
}

.wishlist-product img {
    max-width: 100%;
    height: auto;
}

.product-details {
    text-align: center;
}

.product-details h3 {
    margin: 10px 0;
}

.product-details p {
    margin: 0;
}


/*---------------------viewpage-----------*/
.small-product-images img {
    width: 75px;
    height: auto;
    margin: 0;
}
/* Votre code CSS existant */
.containerview {
    display: flex;
    align-items: flex-start; /* Aligner les éléments en haut */
}

.containerview img {
    max-width: 70%; 
    height: 70%; 

    margin-right: 20px; /* Espacement entre l'image et les éléments à gauche */
}

/* Ajoutez des styles pour les éléments à gauche de l'image */
.left-content {
    flex: 1;
    
}
.left-content {
    flex: 2;
    
}

.card-texts{
    text-align: left;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 5px;
}

/*--------------------footer--------------*/
footer{
    background: var(--orange);
    width: 100%;
    margin-top: 0;
    position: relative;
}
footer::before{
    position: absolute;
    content: '';
    background: rgb(169, 132, 132);
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    opacity: .2;
    width: 100%;
    height: 100%;
}
footer .inner-footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(19rem,1fr));
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10rem;
    z-index: 101;
}
footer .inner-footer .cards{
    margin: .5rem;
}
footer .inner-footer .cards h3{
    font-weight: normal;
    text-transform: uppercase;
    padding-top: .5rem;
    position: relative;
}
footer .inner-footer .cards h3::before{
    position: absolute;
    content: '';
    width: 60%;
    height: 5px;
    background: #000;
    left: 0;
    bottom: 0;
}
footer .inner-footer .cards h3::after{
    position: absolute;
    content: '';
    width: 10%;
    height: 5px;
    background: #fff;
    right: 40%;
    bottom: 0;
}
footer .inner-footer .cards li{
    cursor: pointer;
    line-height: 1.5rem;
    text-transform: capitalize;
    font-size: 16px;
}
footer .inner-footer .cards li:nth-child(1),
footer .inner-footer .cardo{
    margin-top: 1rem;
}
footer .inner-footer .cards p{
    margin-bottom: 1rem;
    font-size: 16px;
}
footer .inner-footer .cards input{
    width: 80%;
    box-shadow: none;
    border: 1px solid #000;
    border-radius: unset;
    margin: 0;
}
footer .inner-footer .cards .input-fiels i{
    color: #fff;
    background: rgb(255 255 355/40%);
    padding: 1rem;
    margin-left: .3rem;
    cursor: pointer;
}
footer .inner-footer .cards .social-links{
    margin-top: 1rem;
}
footer .inner-footer .cards .social-links i{
    border-radius: 50%;
    background: #fff;
    box-shadow: var(--box-shadow);
    line-height: 50%;
    text-align: center;
    color: var(--orange);
    cursor: pointer;
    padding: .5rem;
    margin-left: 1rem;
}
footer .bottom-footer{
    text-transform: capitalize;
    text-align: center;
    padding: 3rem 0;
    border-top: 1px solid #000;
}

/*--------------------media screen--------------*/
@media (max-width:991px){
    #menu-btn{
        display: block;
    }
    .header .flex .navbar{
        position: absolute;
        top: 149%;
        left: 0;
        display: block;
        right: 0;
        border-top: 1px solid #000;
        background: #fff;
        transition: .3s ease;
        clip-path: polygon(0 0,100% 0,100% 0, 0 0);

    }
    .header .flex .navbar.active{
        clip-path: polygon(0 0,100% 0,100% 100%, 0 100%);
    }
    .header .flex .navbar a{
        display: block;
        margin: 2rem;

    }
    .header .flex .navbar a:hover{
        color: var(--orange);
    }
    .banner .detail{
        left: 10px;
    }
}