*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --box-shadow:0px 0px 0px 6px rgb(255 255 255/40%);
    --orange:#fcc927;
    --orange1:#fcc927;

}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.btn{
    padding: .8rem 2.5em;
    text-transform: uppercase;
    background: #fff;
    color: var(--orange);
    cursor: pointer;
}
.btn:hover{
    background: #000;
}
.title{
    text-align: center;
    margin-bottom: 1em;
}
.title h1{
    font-size: 3rem;
    text-transform: uppercase;
}
.title span{
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 2;
    color: var(--orange);

}
/*.line,
.line4{
    background-image: url('image/ligne.png');
   /*background: gray;
    width: 100%;
    height: 100px;
    margin-top: -3.6rem;
    display: none;

}
.line{
    margin-bottom: 10rem;
    display: none;
}
.line2,
.line3{
    /*background-image: url('image/3.png');
    background: rgb(104, 102, 102);
    width: 100%;
    height: 100px;
    margin-top: -3.5rem;
    display: none;
}
.line3{
    margin-top: -3.5rem;
    margin-bottom: 7rem;
    display: none;
}*/
/* Style pour la séparation horizontale avec une ombre en bas */
.horizontal-separator {
    width: 100%; /* Largeur de la séparation horizontale */
    height: 2px; /* Épaisseur de la ligne */
    background-color: #333; /* Couleur de la ligne */
    margin: 20px 0; /* Marge supérieure et inférieure pour espacer la ligne */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre en bas */
}

.message, .empty{
  text-align: center;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 59%;
  padding: .5rem 1.5rem;  
  border-radius:  5px;
  display: flex;
  justify-content: space-between;
  background: #000;
  color: #fff;
}

.message i{
    cursor: pointer;
}
.empty{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
input,
button,
textarea,
select{
    outline: none;
    border: 1px solid #55555544;
    background: transparent;
    width: 100%;
    min-width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    margin: 1rem 0;
}
button{
    cursor: pointer;
}
input[type=submit]{
    cursor: pointer;
}
/*--------------------form containeur--------------*/
.form-container{
    background: var(--orange);
    width: 100%;
    min-height: 100vh;
    padding: 4rem 0;
    position: relative;
    
}
.form-container::before,
.show-products::before,
.message-container::before,
.order-container::before{
    content: '';
    position: absolute;
    /*background: url(image/6.png);*/
    background: rgb(207, 183, 183);
    top: -5%;
    left: -10px;
    width: 2px;
    height: 2px;
    background-size: 255px;
    background-repeat: no-repeat;
    z-index: 100;
}
.small-image {
    box-sizing: border-box;
    width: 25%;
    max-width: 25%;
    height: auto;
    display: inline-block; /* Permet aux images de s'aligner côte à côte */
    margin-right: 5px; /* Espacement entre les images */
}

/* Efface la marge de la dernière image pour éviter un espace supplémentaire à la fin */
.small-image:last-child {
    margin-right: 0;
}
.form-container::after{
    content: '';
    position: absolute;
    /*background: url(image/banner.png);*/
    background: rgb(103, 57, 57);
    bottom: 0;
    right: 0;
    width: 2px;
    height:2px;
    background-size: 255px;
    background-repeat: no-repeat;
    z-index: 1;
}
.form-container h1{
    text-transform: uppercase;
    margin: 2rem 0;
    font-size: 2.3rem;
    text-align: center;
}
.form-container form {
    
    width: 60%;
    margin: 1rem auto;
    background: rgb(255 255 255/80%);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    position: relative;
    border-radius: 5px;
}
.form-container form label{
    text-transform: uppercase;
    width: 100%;
}
.form-container form input{
    width: 85%;
}
.form-container form textarea{
    width: 85%;
    height: 200%;
}
.form-container form button{
    width: 85%;
    background-color: var(--orange);
    border: none;
}
/*--------------------banner--------------*/
.banner{
    background: var(--orange);
    width: 100%;
    height: 50vh;
    position: relative;
    z-index: 1;
}
.banner::before{
    position: absolute;
    content: '';
    bottom: -18%;
    right: 0;
    background-image: url('image/logo.png');
    width: 316px;
    height: 245px;
    background-size: 314px;
    background-repeat: no-repeat;
    z-index: 1;
}
.banner .detail{
    position: absolute;
    padding: 7rem 0;
    left: 35%;
    text-align:center;
    z-index: 200;
}
.banner .detail h1{
    font-size: 4rem;
    color: #fff;
    text-transform: capitalize;
}
.banner .detail p{
    font-size: 18px;
    line-height: 2;
}
.banner .detail a{
    text-transform: uppercase;
    color: #000;
}
.banner .detail span{
    color: #fff;
}
/*--------------------header--------------*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    transition: .3s;
}
header.scrolled{
    background:#fff;
    box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1) ;
    backdrop-filter: blur(20px);
}
header.scrolled{
    color: var(--orange);
}
.flex{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
}
.navbar a{
    margin: 0 1rem;
    font-size: 1rem;
    color: #000;
    text-transform: uppercase;
}
.navbar a:hover, header .icons i:hover{
    
    text-decoration: none;
    background-color: rgba(228, 213, 213, 0.5);
    border-radius: 50%;
}
.header .icons{
    display: flex;
}
.header .icons i{
    margin-left: 1.2rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #000;
}
#menu-btn{
    display: none;
}
.header .user-box{
    position: absolute;
    top: 120%;
    right: 0rem;
    background: rgb(255 255 255 / 80%);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
    width: 20rem;
    transform: scale(1.0);
    transform-origin: top right;
    line-height: 2;
}
.logo {

    width: 50px; /* Définissez la largeur maximale souhaitée pour votre logo en pixels */
    height: auto; /* Assurez-vous que la hauteur est automatiquement ajustée pour conserver les proportions */
    display: block; /* Cette règle est facultative, elle assure que le logo est affiché en tant que bloc */
}


/* Ajoutez un style au survol du logo (facultatif) */
.logo:hover {
    color: #FFA500; /* Couleur différente au survol */
    /* Vous pouvez également ajouter des animations ou d'autres styles de votre choix ici */
}
.logout-btn{
    background: #000;
    color: #fff;
    text-transform: uppercase;
    width: 10rem;
    border-radius: 4px;
}
.header .user-box.active{
    transform: scale(1.0);
    transition: .2s linear;
}
/*--------------------admin dashbord--------------*/
.dashboard{
    background: var(--orange);
    padding: 3rem;
    margin-top: -3.5rem;
    position: relative;
    z-index: 2;
}
.dashboard::before{
    position: absolute;
    content: '';
    top: -25%;
    left:-10px ;
    background-image: url('image/logo.png');
    width: 225px;
    height: 220px;
    background-size: 225px;
    background-repeat: no-repeat;
    z-index: 100;
    
    display: none;

}
.box-container{
    padding: 2% 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    column-gap: 1rem;
}
.box-container .box{
    background: #fff;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    text-align: center;
    border-radius: 5px;
    margin: 1rem;
}
.dashboard h3{
    text-align: center;
    font-size:2rem;

}
.dashboard p{
    font-size: 20px;
    text-transform: capitalize;
    margin: .5rem 0;
}
/*--------------------admin product page--------------*/
.add-products{
    margin-top: -3.5rem;
    height: auto;
    background: #f5f5f5;
    position: relative;
    z-index: 2;
}
.show-products,
.message-container,
.order-container{
    position: relative;
    background:var(--orange);
    margin-top: 0;
}
.show-products::before,
.order-container::before{
    background: #703a3a;
    top: -100px;
}
.show-products .box-container{
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
}
.box-container .box{
    line-height: 2;
}
.box-container .box h4{
    text-transform: capitalize;
      
}
.box-container .box img{
    width: 100%;
    margin-bottom: 1rem;
}
.adds, .edit, .delete{
    color: #000;
    background: var(--orange);
    padding: .5rem 1.5rem;
    text-transform: capitalize;
    line-height: 2;
}
.update-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow-y: auto;
    background: var(--orange);
    z-index: 1100;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    display: none;
    

}
.update-container form{
    box-shadow: var(--box-shadow);
    width: 50%;
    background: #fff;
    padding: 1rem;
    margin: 2rem auto;
    text-align: center;
}
.update-container .edit, .update-container .btn{
    width: 40%;
    cursor: pointer;
}
.update-container form img{
    width: 60%;
}
/*--------------------*/
.edit_img{
    display: flex;
}
.small_edit{
    display: flex;
    position: relative;
}
.message-container .title,
.order-container .title{
    text-transform: uppercase;
    padding-top: 3rem;
}
.order-container{
    padding: 3% 7%;
}
.order-container .box-container{
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    justify-content: center;
    align-items: flex-start;

}
.box-container .box{
    text-align: left;
    padding: 1rem 2rem;
}
.order-container .box p{
    margin-bottom: .5rem;
    text-transform: capitalize;
    color: hotpink;
}
.order-container .box span{
    color: #555;
}
.order-container form{
    text-align: center;
}
.order-container form select{
    width: 100%;
    margin: 1rem auto;
    padding: .5rem 0;
    cursor: pointer;
    border-radius: 3px;
}
.order-container form input{/*-----------------------------a revoir*/
   width: 40%;
   border-radius: unset;
   border: none;
   background: var(--orange);
   color: #000;
   text-transform: capitalize;
}
.order-container form input:hover,
.order-container .box .delete:hover{
color: var(--orange);
background: #000;
}
.order-container .box .delete{
    padding: .7rem 4rem;
}
/*--------------------media screen--------------*/
@media (max-width:991px){
    #menu-btn{
        display: block;
    }
    .header .flex .navbar{
        position: absolute;
        top: 149%;
        left: 0;
        display: block;
        right: 0;
        border-top: 1px solid #000;
        background: #fff;
        transition: .3s ease;
        clip-path: polygon(0 0,100% 0,100% 0, 0 0);

    }
    .header .flex .navbar.active{
        clip-path: polygon(0 0,100% 0,100% 100%, 0 100%);
    }
    .header .flex .navbar a{
        display: block;
        margin: 2rem;

    }
    .header .flex .navbar a:hover{
        color: var(--orange);
    }
    .banner .detail{
        left: 10px;
    }
}
